.MessageForm
  = form_with model: @message, html: {class: "FormText"}, local: true do |f|
    = f.text_field :content, class: 'FormText__inputText', placeholder: 'メッセージを入力'
    = f.label :image, class: 'FormText__image' do
      = icon('far', 'image', class: 'FormText__icon')
      = f.file_field :image, class: 'FormText__file'
    = f.submit '送信', class: 'FormText__submitBtn'