.Header
  = link_to root_path, class: "Header__topButton" do
    HealthFit
  = link_to messages_index_path, class: "Header__baButton" do
    Berfore After
.TopContents      
  .TopContents__BackgroundImage
    = image_tag 'image.jpg', alt: 'run', height: '100%', width: '100%', class: 'image'
  .TopContents__message
    毎日を楽しく
.Main
  .Main__Contents
    %form.Form
      %input.Form__name{type: 'text', placeholder: '名前'}
      %input.Form__email{type: 'email', placeholder: 'email'}
      %input.Form__length{type: 'number', placeholder: '身長(cm)'}
      %input.Form__weight{type: 'number', placeholder: '体重(kg)'}
      %input.Form__age{type: 'number',  placeholder: '年齢'}
      %input.Form__goal{type: 'number', placeholder: '目標(kg)'}
      %input.Form__goalDate{type: 'date'}
    .Main__buttons
      = link_to users_path do
        %input.Form__submit{url: 'users_path', type: 'submit', value: '始める'}
      = link_to users_path do
        %input.Form__login{type: 'button', value: 'ログイン'}
