.UpperContents
  .UpperContents__userName
    = current_user.name
  .UpperContents__topmessage
    体重の変化
  .UpperContents__rightField
    .UpperContents__information
      = link_to edit_user_path(current_user), class: 'Buttons' do
        = icon('fas', 'cog')
      = link_to edit_feature_path(current_user), class: 'Buttons' do
        編集
      = link_to new_feature_path(current_user), class: 'Buttons' do
        登録
      
= line_chart @chart, ytitle: "Weight", discrete: true, width: "100%", height: "500px"
.BottomContents
  = render partial: "feature", collection: @features
.BottomMain
  =link_to new_feature_weight_path(current_user) do
    %input.Link{ type: 'button', value: '今日の体重を入力' }