!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Healthfit
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .Header
      = link_to root_path, class: "Header__topButton" do
        HealthFit
      .RightGroup  
        = link_to messages_path(current_user), class: "RightGroup__baButton" do
          B.A
        = link_to new_message_path(current_user), class: "RightGroup__myphots" do
          = icon('far', 'image', class: 'RightGroup__icon')
    = yield
